* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.nav {
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo {
    height: 70px;
    width: 100px;

}

.logo {
    background-image: url("/logo.png");
    background-size: cover;
    height: 70px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}


.add1 {
    font-size: 0.8rem;
    color: #cccccc;
    margin-left: 15px;
}

.add2 {
    font-size: 0.9rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;

}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 650px;
    height: 35px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #eba50f;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* box4 & box5*/
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 */
.nav-cart i {
    font-size: 1.4rem;
}

.nav-cart {
    font-size: 1rem;
    font-weight: 700;
}

/* panel */

.panel {
    height: 39px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.panel-ops p {
    display: inline;
    margin-left: 20px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */
.hero {
    height: 350px;
    background-image: url("/amazon.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hero-msg {
    background-color: #f3f3f3;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}

/* shop-section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(167, 229, 210);

}

.box {
    border: 2px solid black;
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    border: none;
}

.box1-img {
    background-size: cover;
    height: 250px;

}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content a {
    color: #007185;

}

/* footer */
footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;

}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul p {
    font-size: 20px;
    font-weight: 700;

}

ul a {
    padding-top: 4px;
    display: block;
    color: white;

}


.foot-panel3 {
    background-color: #0f1111;
    color: white;
    height: 50px;
    text-align: center;
}

.pages a {
    font-size: 0.8rem;
    padding-top: 35px;
    padding-left: 25px;
    color: white;
}

.copyright {
    font-size: 0.7rem;
    padding-top: 5px;

}